{% extends 'home.html' %}
{% load static %}
 {% block title %} borrowing member list {% endblock %}
{% block extra_css %}
    <style>
    .container {
        background-color: white;
        color: black;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Borrowed Books</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                      <th>Book Title</th>
                        <th>Copy Number</th>
                        <th>Member name</th>
                        <th>Member email</th> 
                        <th>Borrow Date</th>
                        
                </tr>
            </thead>
            <tbody>
                    {% for record in borrow_record %}
                        <td>{{ record.book_copy.book.title }}</td>
                        <td>{{ record.borrow_count }}</td>
                        <td>{{ record.member.first_name }}</td>
                        <td>{{ record.member.last_name }}</td>
                        <td>{{ record.member.borrow_date }}</td>
                        <td></td>
                     {% endfor %}
            </tbody>
        </table> 
    </div>
        
{% endblock %}